<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>destination_url</string>
      <string><![CDATA[wss://websocket.kite.trade/?api_key=kitefront&user_id=DV4051&public_token=bebe3223df565683e9deef36d71849ff]]></string>
  	</entry>
    <entry>
      <string>Sec-WebSocket-Key</string>
      <string><![CDATA[wWRIwB/R0akE/nsvjdYhbw==]]></string>
  	</entry>
    <entry>
      <string>User-Agent</string>
      <string><![CDATA[Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36]]></string>
  	</entry>
    <entry>
      <string>kite_order_url</string>
      <string><![CDATA[https://kite.zerodha.com/api/orders]]></string>
  	</entry>
    <entry>
      <string>Cookie</string>
      <string><![CDATA[session=47efd4fb-f422-409e-958e-2175ac3b7194; lang=en]]></string>
  	</entry>
    <entry>
      <string>Content-Type</string>
      <string><![CDATA[application/json;charset=utf-8]]></string>
  	</entry>
    <entry>
      <string>Host</string>
      <string><![CDATA[kite.zerodha.com]]></string>
  	</entry>
    <entry>
      <string>order_referrer</string>
      <string><![CDATA[https://kite.zerodha.com/orderbook/]]></string>
  	</entry>
    <entry>
      <string>subscribe_string</string>
      <string><![CDATA[{"a":"subscribe","v":[256265,260105,10313986,10332162]}]]></string>
  	</entry>
    <entry>
      <string>stream_mode_ltp</string>
      <string><![CDATA[{"a":"mode","v":["ltp",[value]]}]]></string>
  	</entry>
    <entry>
      <string>stream_mode_1</string>
      <string><![CDATA[{"a":"mode","v":["full",[408065]]}]]></string>
  	</entry>  
    <entry>
      <string>option_position_expense</string>
      <string><![CDATA[100]]></string>
  	</entry>  	
    <entry>
      <string>time_to_ist</string>
      <string><![CDATA[330]]></string>
  	</entry>  	
    <entry>
      <string>time_url</string>
      <string><![CDATA[https://www.worldtimeserver.com/handlers/GetData.ashx?action=GCTData&_=1509671832208]]></string>
  	</entry>  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>kite_token_list</string>
    <list>
    	<string><![CDATA[256265,NIFTY 50 INDEX]]></string>
    	<string><![CDATA[260105,NIFTY BANK INDEX]]></string>
    	<string><![CDATA[10477314,BANKNIFTY 14th JUN 25600 PE]]></string>
    	<string><![CDATA[10477826,BANKNIFTY 14th JUN 25700 PE]]></string>
    	<string><![CDATA[10478338,BANKNIFTY 14th JUN 25800 PE]]></string>
    	<string><![CDATA[10486530,BANKNIFTY 14th JUN 25900 PE]]></string>
    	<string><![CDATA[9310722,BANKNIFTY 14 th JUN 27100 CE]]></string>
    	<string><![CDATA[10313986,BANKNIFTY 12th JUL 25900 PE]]></string>
    	<string><![CDATA[10332162,BANKNIFTY 12th JUL 27000 CE]]></string>
    </list>
   </entry>
  <entry>
    <string>vehicle_make_1</string>
    <list>
		<string>none_selected</string>
		<string>none_selected</string>
		<string>none_selected</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>