<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[10118146]]></string>
  	</entry>
    <entry>
      <string>stock_list</string>
      <string><![CDATA[260105]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>260105</string>
    <list>
		<string>34700CE</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
    </list>
   </entry>
   
  <entry>
    <string>276269</string>
    <list>
		<string>JUBLFOOD</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
    </list>
  </entry>
  
  <entry>
    <string>1102337</string>
    <list>
		<string>SRIRAM</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
    </list>
   </entry>
   
  <entry>
    <string>306269</string>
    <list>
		<string>SRF</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
    </list>
   </entry>

  <entry>
    <string>11176962</string>
    <list>
		<string>BNF</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
    </list>
   </entry>
  
   
  <entry>
    <string>test</string>
    <list>
		<string>PE</string>
		<string>12619522</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>