<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[10118146]]></string>
  	</entry>
    <entry>
      <string>stock_list</string>
      <string><![CDATA[260105.00,4632577.00,837889.00,11176962.00]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>ce_list</string>
    <list>
		<string><![CDATA[13619714]]></string>
		<string><![CDATA[13620226]]></string>
		<string><![CDATA[13620738]]></string>
		<string><![CDATA[13622018]]></string>
		<string><![CDATA[13622530]]></string>
		<string><![CDATA[13624322]]></string>
		<string><![CDATA[13624834]]></string>
		<string><![CDATA[9081346]]></string>
		<string><![CDATA[13625346]]></string>
		<string><![CDATA[9084930]]></string>
		<string><![CDATA[9085442]]></string>
		<string><![CDATA[9085954]]></string>
		<string><![CDATA[9088514]]></string>
		<string><![CDATA[13625858]]></string>
		<string><![CDATA[13626370]]></string>
		<string><![CDATA[13626882]]></string>
		<string><![CDATA[13627394]]></string>
		<string><![CDATA[13627906]]></string>
		<string><![CDATA[13628418]]></string>
		<string><![CDATA[13628930]]></string>
		<string><![CDATA[13619714]]></string>
		<string><![CDATA[13620226]]></string>
    </list>
   </entry>

  <entry>
    <string>pe_list</string>
    <list>
		<string><![CDATA[13619970]]></string>
		<string><![CDATA[13620482]]></string>
		<string><![CDATA[13621762]]></string>
		<string><![CDATA[13622274]]></string>
		<string><![CDATA[13624066]]></string>
		<string><![CDATA[13624578]]></string>
		<string><![CDATA[13625090]]></string>
		<string><![CDATA[9081858]]></string>
		<string><![CDATA[13625602]]></string>
		<string><![CDATA[9085186]]></string>
		<string><![CDATA[9085698]]></string>
		<string><![CDATA[9086210]]></string>
		<string><![CDATA[9089282]]></string>
		<string><![CDATA[13626114]]></string>
		<string><![CDATA[13626626]]></string>
		<string><![CDATA[13627138]]></string>
		<string><![CDATA[13627650]]></string>
		<string><![CDATA[13628162]]></string>
		<string><![CDATA[13628674]]></string>
		<string><![CDATA[13629186]]></string>
		<string><![CDATA[13619970]]></string>
		<string><![CDATA[13620482]]></string>
    </list>
   </entry>
 
</referenceDataMap> 
</applicationconfigdata>