<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>subscribe_string</string>
      <string><![CDATA[{"a":"subscribe","v":[256265,12619522,12616706]}]]></string>
  	</entry>
    <entry>
      <string>stream_mode</string>
      <string><![CDATA[{"a":"mode","v":["ltp",[256265,12619522,12616706]]}]]></string>
  	</entry>
    <entry>
      <string>stream_mode_1</string>
      <string><![CDATA[{"a":"mode","v":["full",[408065]]}]]></string>
  	</entry>
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>vehicle_make</string>
    <list>
		<string>none_selected</string>
		<string>none_selected</string>
		<string>none_selected</string>
    </list>
   </entry>
  <entry>
    <string>vehicle_make_1</string>
    <list>
		<string>none_selected</string>
		<string>none_selected</string>
		<string>none_selected</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>