<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[10118146]]></string>
  	</entry>
    <entry>
      <string>stock_list_cement</string>
      <string><![CDATA[21052162.00,21110018.00,21050370.00,325121.00,2952193.00,5633.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_finance</string>
      <string><![CDATA[21054466.00,21084674.00,21090818.00,21082370.00,21104386678.00,21081858.00,21082626.00,21054978.00,21085186.00,1510401.00,1270529.00,492033.00,341249.00,779521.00,340481.00,119553.00,4268801.00,4774913.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_pharma</string>
      <string><![CDATA[21075714.00,21076994.00,21070338.00,21058050.00,21105666.00,21089026.00,21092866.00,2800641.00,225537.00,177665.00,2911489.00,857857.00,418049.00,2672641.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_tech</string>
      <string><![CDATA[21088258.00,21107970.00,21095682.00,21081602.00,21111298.00,21108226.00,21092610.00,21092354.00,408065.00,2953217.00,3675137.00,1850625.00,969473.00,3465729.00,4752385.00,4561409.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_metal</string>
      <string><![CDATA[21107714.00,21083138.00,21090306.00,21103618.00,21110530.00,21097218.00,895745.00,348929.00,3001089.00,758529.00,784129.00,1629185.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_consumer</string>
      <string><![CDATA[21106946.00,21056514.00,21083906.00,21090562.00,878593.00,94977.00,356865.00,4632577.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_auto</string>
      <string><![CDATA[21094146.00,21107202.00,21093122.00,21054722.00,21052930.00,2815745.00,884737.00,519937.00,4267265.00,54273.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_energy</string>
      <string><![CDATA[21059074.00,21107458.00,134657.00,877057.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_realty</string>
      <string><![CDATA[21076738.00,21079554.00,21098754.00,21079042.00,3771393.00,2585345.00,5181953.00,3463169.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_power</string>
      <string><![CDATA[21107458.00,21098498.00,877057.00,2977281.00]]></string>
  	</entry>
    <entry>
      <string>stock_list_oil</string>
      <string><![CDATA[21088770.00,21099266.00,21103362.00,21078530.00,415745.00,633601.00,738561.00,1207553.00]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>260105.00</string>
    <list>
		<string>NIFTY BANK</string>
		<string><![CDATA[sl_percen:2.0]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.5]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:30050.0]]></string>
    </list>
   </entry>
   
  <entry>
    <string>895745.00</string>
    <list>
		<string>TATASTEEL</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
  </entry>
  
  <entry>
    <string>98049.00</string>
    <list>
		<string>BEL</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
   </entry>
   
  <entry>
    <string>54273.00</string>
    <list>
		<string>ASHOKLEY</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
   </entry>

  <entry>
    <string>11176962.00</string>
    <list>
		<string>BNF</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:30050]]></string>
    </list>
   </entry>
  
   
  <entry>
    <string>test</string>
    <list>
		<string>PE</string>
		<string>12619522</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>