<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[13937154]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[13937154]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[13941506]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>vehicle_make</string>
    <list>
		<string>none_selected</string>
		<string>none_selected</string>
		<string>none_selected</string>
    </list>
   </entry>
  <entry>
    <string>test</string>
    <list>
		<string>PE</string>
		<string>12619522</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>