<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[10313986]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[10332162]]></string>
  	</entry>
    <entry>
      <string>prev_pe</string>
      <string><![CDATA[20.00]]></string>
  	</entry>
    <entry>
      <string>prev_ce</string>
      <string><![CDATA[26.30]]></string>
  	</entry>
    <entry>
      <string>prev_nifty</string>
      <string><![CDATA[26503.30]]></string>
  	</entry>
    <entry>
      <string>position_val</string>
      <string><![CDATA[10000]]></string>
  	</entry>
    <entry>
      <string>lot_size</string>
      <string><![CDATA[40]]></string>
  	</entry>
     <entry>
      <string>pe_range</string>
      <string><![CDATA[15.00,25.00]]></string>
  	</entry>
     <entry>
      <string>ce_range</string>
      <string><![CDATA[115.00,130.00]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>vehicle_make</string>
    <list>
		<string>none_selected</string>
		<string>none_selected</string>
		<string>none_selected</string>
    </list>
   </entry>
  <entry>
    <string>test</string>
    <list>
		<string>PE</string>
		<string>12619522</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>