<applicationconfigdata>
  
  <keyValueConfigs>
    <entry>
      <string>initial_position</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>pe_id</string>
      <string><![CDATA[10377730]]></string>
  	</entry>
    <entry>
      <string>ce_id</string>
      <string><![CDATA[10118146]]></string>
  	</entry>
    <entry>
      <string>stock_list</string>
      <string><![CDATA[895745]]></string>
  	</entry>
  	
  </keyValueConfigs>
  
<referenceDataMap>
  <entry>
    <string>260105</string>
    <list>
		<string>NIFTY BANK</string>
		<string><![CDATA[sl_percen:2.0]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.5]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:30050.0]]></string>
    </list>
   </entry>
   
  <entry>
    <string>895745</string>
    <list>
		<string>TATASTEEL</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
  </entry>
  
  <entry>
    <string>98049</string>
    <list>
		<string>BEL</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
   </entry>
   
  <entry>
    <string>54273</string>
    <list>
		<string>ASHOKLEY</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.75]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:0]]></string>
    </list>
   </entry>

  <entry>
    <string>11176962</string>
    <list>
		<string>BNF</string>
		<string><![CDATA[sl_percen:2.5]]></string>
		<string><![CDATA[sl_value:347.00]]></string>
		<string><![CDATA[profit_percen:2.0]]></string>
		<string><![CDATA[type:BUY]]></string>
		<string><![CDATA[hardsl_closing:1.5]]></string>
		<string><![CDATA[prev_day_sl:30050]]></string>
    </list>
   </entry>
  
   
  <entry>
    <string>test</string>
    <list>
		<string>PE</string>
		<string>12619522</string>
    </list>
   </entry> 
</referenceDataMap> 
</applicationconfigdata>